# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables and secrets (CRITICAL)
.env
.env.*

# Logs
.logs
.logs/*

# VS Code local settings
.vscode/

# attentions - store all attention, tasks,chats, here
.attentions/

# temp files
.tmp/
.tmp/*

# models
*.fbx

#Language semantic sources
.semantic
.semantic/
